<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Report</title>

  <style>
      .elastic-table {
          overflow-y: auto;
      }

      th, td {
          text-align: center;
          padding: 10px;
      }
  </style>

</head>
<body>
<center>
  <h1>Report on cycling traffic in Krakow, Poland</h1>
  <p>
    Poniższy raport zawiera podstawową analizę i wizualizację danych dotyczących
    ruchu rowerowego w Krakowie z uwzględnieniem czynników pogodowych. Dane
    dotyczące ruchu rowerowego zostały pobrane ze strony <a
          href="https://ztp.krakow.pl/rower/pomiary-ruchu-rowerowego/dane-tabelaryczne">ZTP
    w Krakowie</a>. Dane o jakości powietrza zostały pobrane ze strony <a
          href="https://powietrze.gios.gov.pl/pjp/archives">GIOŚ</a>, natomiast
    dane dotyczące pogody zostały zaczerpnięte z <a
          href="https://danepubliczne.imgw.pl/data/arch/ost_meteo/">archiwów
    IMGW</a>.
  </p>
  <h2>
    Podstawowe statystyki:
  </h2>
  <div class="elastic-table">
    {{ basic_statistics }}
  </div>

  <hr>

  <h2>
    Weather summary:
  </h2>
  <div>
    <h3>
      Temperature
    </h3>

    {{ weather_dict.temperature_impact }}
  </div>
  <h3>
    Precipitation
  </h3>
  <div class="elastic-table">
    {{ weather_dict.precipitation_impact }}
  </div>
  <h3>
    Air quality
  </h3>
  <div class="elastic-table">
    {{ weather_dict.air_quality_impact }}
  </div>

  <hr>

  <h2>
    Seasonal trends:
  </h2>
  <div>
    <h3>
      Yearly trends
    </h3>
    {{ seasonal_dict.yearly_trends }}
    <h3>
      Monthly patterns
    </h3>
    {{ seasonal_dict.monthly_patterns }}
    <h3>
      Seasonal patterns
    </h3>
    {{ seasonal_dict.seasonal_patterns }}
    <h3>
      Weekly patterns
    </h3>
    {{ seasonal_dict.weekly_patterns }}
  </div>

  <hr>

  <h2>
    Weather factors correlations with total daily traffic:
  </h2>
  <div>
    <table>
      <thead>
      <tr>
        <th>Weather factor</th>
        <th>Correlation coefficient</th>
      </tr>
      </thead>
      <tbody>
      {% for key, value in weather_corrs.items() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ "%.2f"|format(value) }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>

  <h2>
    PLOTS
  </h2>
  <div class="elastic-table">
    <img src="data:image/png;base64, {{ daily_traffic_plot }}"
         alt="Daily traffic plot">
  </div>
  <div class="elastic-table">
    <img src="data:image/png;base64, {{ correlations_matrix }}"
         alt="Correlations matrix">
  </div>
  <div class="elastic-table">
    <img src="data:image/png;base64, {{ seasonal_traffic_plot }}"
         alt="Seasonal traffic plot">
  </div>
  <h3>
    Weather factors vs total daily traffic
  </h3>
  <div class="elastic-table">
    {% for image in weather_plot %}
    <img src="data:image/png;base64, {{ image }}" alt="Weather factor plot">
    {% endfor %}
  </div>
</center>
</body>
</html>