# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# excluding virtual environment
**/.venv/
**/venv/

# excluding any ipynb checkpoints that could be created as a consequence of using jupyter notebook/lab
**/.ipynb_checkpoints/

# excluding products of runing pip install comand
**/build/
**/krakowbike.egg-info/

# other files
**/.xdp-tabela08.xls-hJllCQ
**/.idea/
